body{
    background-color: #eee;
    font-family: "Arial";
    font-size: 80%;
    margin-left: 5%;
    
}    

input, textarea{
    margin: 10px;
}        
select{
    margin:20px;
}
    .example{
        
        margin: 20px;
        
        }

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr td:first-child{
    background-color: black;
    color: white;
}

tr{
    border: 1px solid black;
    height: 50px;
}

td{
    border: 1px solid black;
    width: 300px;
    padding: 20px;
}

table{
    border: 1px solid black;
}