select{
    margin: 20px;
}
form{
    padding-left: 50px;
    align-items: center;
}

h3{
    text-align: center;
}

#desc{
    height: 4em;
}

form{
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right:10%;
    
}

h3{
    text-align: center;
}